.back-front-page .swiper-container {
  height: calc(80vh);

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bolder;
    color: #fff;
    outline: none;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 2em;
  }

  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    transition: all .5s;
    color: #479626
  }

  .swiper-wrapper {
    .text-wrap-context {
      width: 70%;
    }

    .gallery-item {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .text-box {
      width: 40%;
      height: 100%;
      position: absolute;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: skew(-10deg, 0) translateX(-30%);
      background: #91af77;
    }

    .text-wrap-box h4.titleWow {
      color: #fff;
      font-weight: 700;
      font-size: 1.5em;
    }

    .text-wrap-box p {
      color: #fff;
    }

    .text-wrap-context button.btn {
      background: none;
      border: 2px solid #fff;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      border-radius: 20px;
      color: white;
      outline: none;
      width: 50%;
      z-index: 9;
      font-size: .8em;
      text-transform: uppercase;
      font-weight: 700;
    }

    .text-wrap-context button.btn:hover {
      color: white;
    }

    .text-wrap-context button.btn::before {
      content: "";
      position: absolute;
      background: #7fa035;
      height: 0;
      z-index: -1;
      transition: 0.5s;
      width: 100%;
      left: 0;
      border: none;
    }

    .text-wrap-context button.btn_::before {
      bottom: 0;
    }

    .text-wrap-context button.btn_:hover::before {
      height: 100%;
    }

    .text-wrap-context button.btn:focus {
      outline: none;
      box-shadow: inherit;
    }
  }

}

@media (max-width: 1120px) {
  .back-front-page .swiper-container {
    height: calc(50vh);
  }
}

@media (max-width: 880px) {

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.1em !important;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0px !important;
    right: auto;
  }
}