@import "~global/_mixins.scss";

@font-face {
  font-family: Hel;
  src: url("/static/font/helveticaneue.ttf") format("truetype");
}

@font-face {
  font-family: HelMedium;
  src: url("/static/font/helveticaneuemedium.ttf") format("truetype");
}

@font-face {
  font-family: HelBold;
  src: url("/static/font/helveticaneuebold.ttf") format("truetype");
}
@font-face {
  font-family: SFPro;
  src: url("/static/font/SFPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: SFProMedium;
  src: url("/static/font/SFPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: SFProBold;
  src: url("/static/font/SFPro-Bold.ttf") format("truetype");
}

:root {
  --primary3:#0095D9;
  --primary1:#0571BC;
  --accent1:#E7007F;
  --neutral1:#7D7D7D;
  --neutral2:#5C5C5C;
  --neutral4:#252525;
  --font-bold: HelBold,SFProBold;
  --font-medium: HelMedium,SFProMedium;
  --font-regular: Hel,SFPro;
}

.modal-content {
  top: 10vh;
}

.pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.position-relative {
  position: relative;
}

h6 {
  font-size: 1.6rem;
  font-family: var(--font-regular);
}

button, input, optgroup, select, textarea {
  font-size: 1.4rem;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

// @include tablet {
//   .mt-lg-0 {
//     margin-top: 0 !important;
//   }
//   .mt-lg-2 {
//     margin-top: 0.5rem !important;
//   }
//   .mt-lg-3 {
//     margin-top: 1rem !important;
//   }
//   .mt-lg-4 {
//     margin-top: 1.5rem !important;
//   }
//   .mt-lg-5 {
//     margin-top: 3rem !important;
//   }
//   .mb-lg-0 {
//     margin-bottom: 0 !important;
//   }
//   .mb-lg-2 {
//     margin-bottom: 0.5rem !important;
//   }
//   .mb-lg-3 {
//     margin-bottom: 1rem !important;
//   }
//   .mb-lg-4 {
//     margin-bottom: 1.5rem !important;
//   }
//   .mb-lg-5 {
//     margin-bottom: 3rem !important;
//   }
//   .ml-lg-0 {
//     margin-left: 0 !important;
//   }
//   .ml-lg-2 {
//     margin-left: 0.5rem !important;
//   }
//   .ml-lg-3 {
//     margin-left: 1rem !important;
//   }
//   .ml-lg-4 {
//     margin-left: 1.5rem !important;
//   }
//   .ml-lg-5 {
//     margin-left: 3rem !important;
//   }
//   .mr-lg-0 {
//     margin-right: 0 !important;
//   }
//   .mr-lg-2 {
//     margin-right: 0.5rem !important;
//   }
//   .mr-lg-3 {
//     margin-right: 1rem !important;
//   }
//   .mr-lg-4 {
//     margin-right: 1.5rem !important;
//   }
//   .mr-lg-5 {
//     margin-right: 3rem !important;
//   }
// }


.modal {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    border-radius: 15px;
  }
  .modal-header {
    text-align: center;
    background-color: #1f7ed0;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .modal-title {
      margin: 0 auto;
    }
  }
  .close {
    color: #fff;
    position: absolute;
    right: 15px;
    outline: none;
  }
  .modal-footer {
    justify-content: center;
    border-top: none;
    .btn {
      padding: 8px 20px;
      border-radius: 20px;
    }
  }
}

button:disabled {
  cursor: not-allowed;
}

button:focus {
  outline: none !important;
}

.black {
  color: #000;
}

.bold {
  font-family: var(--font-bold);
}

.medium {
  font-family: var(--font-medium);
}

.margin-auto {
  margin: 0 auto;
}

ul, li {
	list-style-type: none;
	padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.btn-primary {
  background-color: #579bd7;
  padding: 8px 25px;
  border-radius: 15px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  outline: none;
  font-family: var(--font-medium);
  &:hover, &:focus, &:active {
    text-decoration: none;
    background-color: #3eb7e4;
    border: none;
    outline: none;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.title-hover {
  &:hover {
    color: #40a9ff;
    cursor: pointer;
  }
}

a {
  color: #007bff;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  opacity: 0.6;
}

input[type=number] {
  -moz-appearance: textfield;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

@media only screen and (min-width : 1200px) {
  .container {
    max-width: 1500px;
  }
}

.image-hover {
  overflow: hidden;
  div, div:hover, a, a:hover {
    overflow: hidden;
    border-radius: 5px;
  }
}

.image-hover img,
.image-hover .thumb-title {
	transform: scale(1);
	transition: .4s ease-in-out;
}

.image-hover:hover img {
  transform: scale(1.15);
  opacity: 0.8;
  border-radius: 5px;
}

.swiper-slide {
  height: auto !important;
}
.swiper-button-next, .swiper-button-prev, .swiper-pagination-bullet {
  outline: none;
}

.btn-hover {
  @include transition(all 0.5s);
  color: rgba(255, 255, 255, 1);
  position: relative;
  &:focus {
    outline: none;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.4);
    @include transition(all 0.3s);
  }
  &:hover::before{
    opacity: 1;
    width: 100%;
  }
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.9;
}

.h-0 {
  height: 0 !important;
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.err-msg {
  color: red;
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: right;
  min-height: 18px;
}

.pink {
  color: #fb4e77;
}

.modal-backdrop {
  z-index: 100 !important;
}

.ant-notification {
  z-index: 1200;
}

.ant-modal-content {
  border-radius: 8px;
}

.pagination-wrapper {
  display: flex;
  margin-top: 20px;
  > ul {
    margin-left: auto;
  }
  li {
    &:hover, &:focus {
      border-color: #d9d9d9;
      a { color: #000 }
    }
    a, a:hover {
      font-family: var(--font-medium);
      color: #000;
    }
  }
  .ant-pagination-item-active {
    font-family: var(--font-medium);
    color: #000;
    background-color: #ED1B26;
    border-color: #C5C5C5;
  }
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  font-family: var(--font-regular);
}

.body-content {
  min-height: 70vh;
  font-size: 1.4rem;
  background-color: #f4f7fb;
  padding-top: 67px;
  @include tablet {
    padding-top: 60px;
  }
}

.app-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: var(--font-regular);
  font-size: 1.4rem;
}

.ant-tooltip-inner {
  color: #334056 !important;
  background-color: #fff !important;
  // border: solid 1px red;
  border-radius: 10px !important;
}

.ant-input-prefix {
  min-width: 25px;
}

.ant-form-item-explain, .ant-form-item-extra {
  font-size: 1.2rem;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: #fff !important;
}

#__next-prerender-indicator {
  display: none;
}

.svg-inline--fa {
  &.fa-w-20 {
    width: 1em;
  }
  &.fa-w-18 {
    width: 1em;
  }
  &.fa-w-16 {
    width: 1em;
  }
  &.fa-w-14 {
    width: 0.875em;
  }
  &.fa-w-10 {
    width: 0.625em;
  }
  &.fa-w-8 {
    width: 0.5em;
  }
  &.fa-w-6 {
    width: 0.375em;
  }
  &.fa-lg {
    vertical-align: -0.225em;
  }
}
.fa-1x {
  font-size: 1em;
}
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}

