@import "~global/_mixins.scss";

@font-face {
  font-family: "Roboto";
  src: url('/static/font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Rlight";
  src: url('/static/font/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: "RMedium";
  src: url('/static/font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "RBold";
  src: url('/static/font/Roboto-Bold.ttf') format('truetype');
}

.modal-content {
  top: 10vh;
}

.pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.position-relative {
  position: relative;
}

h6 {
  font-size: 1.6rem;
  font-family: Roboto;
}

button, input, optgroup, select, textarea {
  font-size: 1.4rem;
}

input, textarea {
  font-family: Roboto;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.modal {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    border-radius: 15px;
  }
  .modal-header {
    text-align: center;
    background-color: #1f7ed0;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .modal-title {
      margin: 0 auto;
    }
  }
  .close {
    color: #fff;
    position: absolute;
    right: 15px;
    outline: none;
  }
  .modal-footer {
    justify-content: center;
    border-top: none;
    .btn {
      padding: 8px 20px;
      border-radius: 20px;
    }
  }
}

button:disabled {
  cursor: not-allowed;
}

button:focus {
  outline: none !important;
}

.bold {
  font-family: RBold;
}

.medium {
  font-family: RMedium;
}

.margin-auto {
  margin: 0 auto;
}

ul, li {
	list-style-type: none;
	padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.btn-primary {
  background-color: #579bd7;
  padding: 8px 25px;
  border-radius: 15px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  outline: none;
  font-family: RMedium;
  &:hover, &:focus, &:active {
    text-decoration: none;
    background-color: #3eb7e4;
    border: none;
    outline: none;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vh-100 {
  height: 100vh !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.float-right {
  margin-left: auto;
}

.float-left {
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.title-hover {
  &:hover {
    color: #40a9ff;
    cursor: pointer;
  }
}

a {
  color: #007bff;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  opacity: 0.6;
}

input[type=number] {
  -moz-appearance: textfield;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 320px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 290px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.image-hover {
  overflow: hidden;
  div, div:hover, a, a:hover {
    overflow: hidden;
    border-radius: 5px;
  }
}

.image-hover img,
.image-hover .thumb-title {
	transform: scale(1);
	transition: .4s ease-in-out;
}

.image-hover:hover img {
  transform: scale(1.15);
  opacity: 0.8;
  border-radius: 5px;
}

.btn-hover {
  @include transition(all 0.5s);
  color: rgba(255, 255, 255, 1);
  position: relative;
  &:focus {
    outline: none;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.4);
    @include transition(all 0.3s);
  }
  &:hover::before{
    opacity: 1;
    width: 100%;
  }
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.9;
}

.height-0 {
  height: 0;
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.err-msg {
  color: red;
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: right;
  min-height: 18px;
}

.pink {
  color: #fb4e77;
}

.modal-backdrop {
  z-index: 100 !important;
}

.ant-notification {
  z-index: 1200;
}

.ant-modal-content {
  border-radius: 8px;
}

.pagination-wrapper {
  display: flex;
  margin-top: 20px;
  > ul {
    margin-left: auto;
  }
  li {
    &:hover, &:focus {
      border-color: #d9d9d9;
      a { color: #000 }
    }
    a, a:hover {
      font-family: RBold;
      color: #000;
    }
  }
  .ant-pagination-item-active {
    font-family: RMedium;
    color: #000;
    background-color: #ED1B26;
    border-color: #C5C5C5;
  }
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  font-family: Roboto;
}

.body-content {
  min-height: 70vh;
  padding-top: 80px;
  font-size: 1.4rem;
}

.app-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: Roboto;
  font-size: 1.4rem;
}

.ant-tooltip-inner {
  color: #334056 !important;
  background-color: #fff !important;
  // border: solid 1px red;
  border-radius: 10px !important;
}

.ant-input-prefix {
  min-width: 25px;
}

.ant-form-item-explain, .ant-form-item-extra {
  font-size: 1.2rem;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: #fff !important;
}

#__next-prerender-indicator {
  display: none;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.fa-1x {
  font-size: 1em;
}
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}

