@import "~global/_mixins.scss";

.header-wrapper {
	background-color: #F2F2F3;
	width: 100%;
	box-shadow: 0px 3px 6px #00000029;
	z-index: 20;
	transition: all .4s;
	height: 65px;
	position: fixed;

	@include maxW(992px) {
		height: 60px;
	}
	&.sticky {
		height: 60px;
		transition: all .4s;
		@include maxW(992px) {
			height: 55px;
		}
	}
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	height: 100%;
	font-family: RMedium;
	color: #000;
	z-index: 3;
	&__group-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
		transition: all .4s;
	}
	
	&__cate {
		> a {
			color: #000 !important;
			&:hover {
				text-decoration: none;
			}
		}
		text-transform: uppercase;
		font-size: 1.6rem;
		&::after {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background: #000;
			transition: width .3s;
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__logo {
		width: 18%;
		img {
			width: auto;
			height: 45px;
		}
	}
	.input-search--mobile {
		background-color: #f7f7f7;
		width: 100%;
		input {
			padding: 8px 16px;
		}
		.search__icon {
			right: 32px;
			bottom: 11px;
			height: 1.4rem;
		}
	}

	.btn-mobile {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 10px 15px 0;
		padding-right: 40px;
		button {
			text-align: center;
			font-family: RMedium;
			line-height: 18px;
			border-radius: 6px;
			padding: 11px 15px;
			box-shadow: 0px 10px 20px rgba(177, 186, 201, 0.15);
			width: 40%;
			color: #fff;
			border: none;
			cursor: pointer;
			&:first-child {
    		background-image: linear-gradient(to right, #FF5F6D, #FFC371);
			}
			&:last-child {
				background-image: linear-gradient(to right, #36D1DC, #5B86E5);
			}
		}
	}

	@include maxW(992px) {
		flex-direction: column;
		align-items: inherit;
		height: 65%;
		padding-right: 0 !important;
		padding-left: 0 !important;
		background-color: #fff;
		&__logo {
			margin: 0 auto;
			img {
				height: 65px;
			}
		}
		&__group-btn {
			flex-direction: column;
			align-items: flex-start;
			width: 100vw;
			padding-bottom: 15px;
			background-color: #fff;
			transform: translate(-100%);
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		}
		.btn-res {
			margin: 7px 15px;
		}
		&__check-btn, &__sale-btn {
			padding: 2px 13px;
		}

		&.open-menu {
			.header__group-btn {
				transform: translate(0);
			}
			.header__close-btn {
				div {
					background: transparent;
					box-shadow: none;
					&::before {
						top: 0;
  					transform:rotate(45deg);
					}
					&::after {
						top: 0;
  					transform:rotate(135deg);
					}
				}
			}
		}
	}
}

.header-menu-wrapper {
	// height: 130%;
	// overflow: hidden;
	position: relative;
	background-color: #fff;
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(-3em);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.show-menu-header {
	.menu-header {
		visibility: visible;
		animation: fadeInBottom 0.3s linear both;
	}
}