.title-wrap-contact-0::after{
    content:"\203A";
    padding: .9%;
}
.title-wrap-contact-0{
    cursor: pointer;
    color: #292929;
    font-size: .9em;

}
.title-wrap-contact-0:hover{
    color:#91af77;
}
.title-wrap-contact{
    .title-wrap-contact-1{
        font-weight: 600;
    }
    a:hover{
        text-decoration: none;
    }
}
.contact-title-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span.errors {
        font-size: 1em;
        color: #feffc5;
        display: flex;
        align-items: center;
        svg{
            color: #feffc5;
        }
    }
}
.contact-title-1{
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 0%;
    width: 45%;
    .Title-question {
        border-radius: 4px;
        border: none;
        margin: 3% 0;
    }
    .Title-question:focus{
        outline: none;
    }
    span {
        color: azure;
        font-size: 1.1em;
        display: flex;
        align-items: center;
    }
}
.contact-title-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    span {
        color: azure;
        font-size: 1.1em;
    }
}
#mission {
    margin: 3% 0;
    width: 100%;
    border-radius: 4px;
}
.contact-submit{
    padding: 3% 0 0 0;
    button {
        width: 50%;
        background: #39803d;
        border: navajowhite;
        padding: 2%;
        color: #fff;
    }
    button:focus{
        outline: none;
    }
}
.contact-submit.submitForm button {
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.contact-submit.submitForm button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  .contact-submit.submitForm button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.contact-submit.submitForm button:focus{
    outline: none;
}
.form-contact-bast{
    form {
        width: initial;
    }
}
.form-contact{
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
}
.form-contact-0 {
    background: #7b9564;
    width: 100%;
}
.form-name-contact{
    display: flex;
}
.contact-name {
    width: 70%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-content: end;
    border-style: dotted;
    border-radius: 10px;
    border-color: #f5f5f5;
}
.contact-name-0 {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    color: #fff;
    h6{
        color: #fff;
        font-size: 1.2rem;  
      }
}
.form-name-contact-1{
    width: 100%;
    display: flex;
    padding: 3%;
    background: #7b9564;
}
.contact-name-0{
    span {
        font-weight: 700;
    }
}
@media (max-width: 992px) { 
    .form-name-contact-1 {
        display: inline;
        height: 100%;
    }
    .contact-submit {
        padding: 2% 0;
    }
    .contact-name {
        width: 80%;
        height: 100%;
        margin: auto;
    }
}
@media (max-width: 768px) { 
    .contact-name-0{
        h6 {
            font-size: 0.9em;
        }
        span {
            font-size: 0.8em;
        }
        p {
            font-size: 0.8em;
        }
    }
    .contact-title-1 {
        span{
            font-size: 1em;
        }
    }
    .contact-title-2{
        span{
            font-size: 1em;
        }
    }
}
@media (max-width: 550px) { 
    .contact-name-0{
        h6 {
            font-size: 0.8em;
        }
        span {
            font-size: 0.7em;
        }
        p {
            font-size: 0.7em;
        }
    }
    .contact-submit button {
        font-size: 0.8em;
    }
    .contact-title-1 {
        span{
            font-size: 0.8em;
        }
    }
    .contact-title-2{
        span{
            font-size: 0.8em;
        }
    }
}