.maintain {
  color: #878889;
  min-height: 80vh;
  text-align: center;
  margin-top: 10vh;
  &__title {
    color: #878889;
    margin-top: 40px;
  }
  &__content {
    margin-top: 40px;
    font-size: 20px;
  }
}