@import "~global/_mixins.scss";

.support {
  .modal-header {
    h2 {
      text-transform: uppercase;
      width: 100%;
      color: #fff;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
    }
  }
  .modal-content {
    background-color: #f3f5f6;
  }
  &__content {
    width: 60%;
    margin: 40px auto 25px;
  }
  &__tab {
    display: flex;
    h3 {
      width: 50%;
      text-align: center;
      padding-bottom: 10px;
      @include textFull(17px, 600, #828282);
      border-bottom: 1px solid #E7E7E7;
      cursor: pointer;
      &.tab-active {
        color: #1C60B3;
        border-bottom: 2px solid #1C60B3;
      }
    }
  }
  &__icon-mobile {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 19px;
    height: auto;
    color: #007bff;
    z-index: 1;
  }
  &__btn, .btn-primary {
    border: none;
    width: 100%;
    background-color: #ff9600;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 0;
  }
  &__confirm {
    text-align: center;
    font-size: 18px;
  }
  &__text-des {
    text-align: center;
    font-size: 14px;
    span:last-child {
      color: #007bff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .btn-block-ads {
    width: 40%;
  }
  .phone-icon {
    color: #FC9426;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    img {
      margin-right: 5px;
    }
  }
  @include mobile {
    &__content {
      width: 100%;
    }
  }
}

.close {
  opacity: 1 !important;
}