.contact-Fact{
    position: fixed;
    z-index: 999999999;
    top: 60%;
    right: 1%;
    background-image: linear-gradient(#1a3cea, #767684);
    border-radius: 8px;
    .contact-Fact-0{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40px;
        span{
            width: 30px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;
            margin: 10px 0;
            position: relative;
            overflow: hidden;
            svg{
                font-size: 1.2em;
            }
            svg:hover{
                font-size: 2em;
                transition: .5s;
            }
        }
    }
}
@media (max-width:1000px){
    .contact-Fact {
        border-radius: 5px;
        .contact-Fact-0 {
            padding: 5px;
        }
        .contact-Fact-0 span svg {
            font-size: 1.5em;
        }
    }
}
@media (max-width:768px){
    .contact-Fact {
        .contact-Fact-0 {
            padding: 6px;
        }
        .contact-Fact-0 span svg {
            font-size: 1.1em;
        }
    }
    .scroll-to-top {
        padding: 0;
    }
}