.ant-notification-notice-btn {
  float: left !important;
  margin-top: 10px !important;
  margin-left: 15%;
  text-decoration: underline;
  font-size: 16px;
  color: #D71925;
  font-family: GSMedium;
  cursor: pointer;
}