@import "~global/_mixins.scss";

.footer {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: solid 5px #fb8a8e;
  &__logo {
    height: 23px;
    width: auto;
    margin-bottom: 20px;
  }
  &__content {
   font-size: 1.3rem;
   color: #b6b3b3;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    > img {
      width: auto;
      height: 37px;
    }
  }
  &__store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: RMedium;
    &--app-store {
      margin: 0 15px;
    }
    img {
      width: auto;
      height: 28px;
    }
  }
  p {
    margin-bottom: 0;
  }
  @include mobile {
    
  }
}