.title-wrap-reason-home::after,.title-wrap-reason-news::after{
    content:"\203A";
    padding: .9%;
}
.distantComp{
    height: 20px;
}
.distant-Comp{
    height: 50px;
}
.title-wrap-reason{
    .title-wrap-reason-home , .title-wrap-reason-news{
        cursor: pointer;
    }
    .title-wrap-reason-home:hover , .title-wrap-reason-news:hover{
        color: #91af77;
    }
    .title-wrap-reason-product{
        font-weight: 600;
    }
    a{
        color: #000;
    }
    a:hover{
        text-decoration: none;
    }
}
.product-show {
    a:hover{
        text-decoration: none;
    }
}
.reason-main{
        width: 80%;
        margin: auto;
    h5{
        text-align: center;
        font-weight: 600;
    }
    .reason-img img{
        height: 28rem;
        width: 100%;
        object-fit: cover;
    }
    .reason-img {
        padding: 3% 0;
    }
    .content-reason-f{
        font-weight: 700;
    }
    .content-reason-o ul,.content-reason-t ul{
        padding: 0 0 0 5%;
        list-style: none;
    }
    .content-reason-t ul li,.content-reason-o ul li{
        padding: 1% 0;
    }
    .content-reason-t ul li::before,.content-reason-o ul li::before{
        content: "\25AA";
        display: inline-block;
        width: 1em;
        color: #5eb55d;
        font-size: 2em;
    }
    .content-reason .content-reason-as{
        font-weight: 600;
    }
}
@media (max-width: 1200px) { 
    .container .title-wrap-reason {
        font-size: .9em;
    }
    .reason-main {
        h5 {
            font-size: 1em;
        }
        .content-reason {
            font-size: .9em;
        }
    }
}
@media (max-width: 992px) { 
    .container .title-wrap-reason {
        font-size: .8em;
    }
    .reason-main {
        h5 {
            font-size: 0.9em;
        }
        .content-reason {
            font-size: .8em;
        }
    }
    .reason-img img {
        height: inherit!important;
        width: 100%;
    }
}
@media (max-width: 768px) { 
    .container .title-wrap-reason {
        font-size: .7em;
    }
    .reason-main {
        h5 {
            font-size: 0.7em;
        }
        .content-reason {
            font-size: .7em;
        }
    }
}